  /* COMPONENTS */

  .title {
    text-align: center;
    text-transform: capitalize;
  }

  .logoSponsor {
    height: 46px;
  }

  .button--link {
    display: block;
    width: fit-content;
    margin-inline: auto;
    margin-block: 16px;
    padding: 15px 35px;
    color: var(--color-white);
    font: var(--font-button);
    text-transform: uppercase;
    text-decoration: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-style: solid;
    border-width: 1px;
    border-image-source: linear-gradient(to bottom, #2a2a2a 0%, rgba(0, 0, 0, 0));
    border-image-slice: 1;
    border-radius: 30px;
    background-color: var(--color-dark-lilac);

    /*
    background-image: linear-gradient(to bottom, var(--color-dark-lilac), var(--color-dark-lilac)), linear-gradient(to bottom, #2a2a2a 0%, rgba(0, 0, 0, 0));
    background-origin: border-box;
    background-clip: content-box, border-box;
    */

    /* Transición suave para el hover */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      background-color: white;
      color: var(--color-dark-lilac);
    }
  }

  .button {
    display: block;
    min-width: 120px;
    max-width: 150px;
    margin: 8px;
    padding: 5px 18px;
    color: var(--color-white);
    font: var(--font-button);
    text-transform: none;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    background-image: linear-gradient(to right, var(--color-dark-lilac) -2%, #c0b7e8 98%);
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      background-color: white;
      color: var(--color-dark-lilac);
    }
  }

  .button--large {
    display: block;
    width: 145px;
    margin-inline: auto;
    margin-block: 8px;
    padding: 5px 18px;
    color: var(--color-white);
    font: var(--font-button);
    text-transform: none;
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    background-color: transparent;
    background-image: linear-gradient(to right, var(--color-dark-lilac) -2%, #c0b7e8 98%);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &:hover {
      border-color: var(--color-white);
      transform: scale(1.1);
    }
  }