.createPage {
    display: flex;
    flex-wrap: wrap; // Para que se acomode en pantallas pequeñas
    justify-content: center;
    align-items: flex-start;
    gap: 20px; // Espaciado entre el formulario y la vista previa
    padding: 20px;
}

.addForm {
    flex: 1;
    max-width: 400px; // Ajusta según tu diseño
}

.preview {
    flex: 1;
    max-width: 500px; // Ajusta según tu diseño
}