.container {
  padding: 22px 22px 0 22px;
  background-color: var(--color-dark);
  min-height: 100dvh;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;

  &__brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 7px 5px;
    gap: 7px;


    &:hover {
      transform: scale(1.025);
    }
  }

  &__companyLogo {
    height: 31px;
    color: var(--color-white);
  }

  &__title {
    font: var(--font-title-brand);
    text-transform: capitalize;
    color: var(--color-white);
  }
}

@media screen and (min-width: 768px) {
  .main {
    max-width: 980px;
    margin-inline: auto;
    display: grid;
    grid-template-columns: 6fr 5fr;
    gap: 2rem;
  }
}